html {
    height: 100%;
    font-family: 'Nunito', sans-serif;

}

body {
    background: url('/media/images/Background.jpg') no-repeat center fixed;
    background-size: cover;
}

/* From Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.bg-purple {
    background-color: #7c24c4;
}

.bg-white {
    background-color: white;
}

.button-border {
    border: 2px solid #7c24c4;
}

.text-purple {
    color: #7c24c4;
}

.text-white {
    color: white;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-right {
    display: flex;
    flex-direction: row-reverse
}

.btn-padding {
    padding-left: 5px;
}

.card-style {
    width: 20rem;
    height: 30rem;
    margin: auto;
    margin-top: 10%;
}

.overlay {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: -1;
    background: white;
}

.image-style {
    height: 20rem;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    align-items: center;
}

