{% load static %}
<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/df26721388.js" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
    <title>RePlay</title>
</head>

<body>
    <header class="container-fluid bg-purple">
        <div class="row">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-white">
                <div class="header-left">
                    <div class="logo">
                        <a class="navbar-brand main-logo-link" href="{% url 'home' %}">
                            <img src="/media/images/logo-no-background.png" width="80" height="50" alt="RePlay logo">
                        </a>
                    </div>
                    <div class="dropdown">
                        <button class="btn bg-white text-purple" type="button" data-toggle="dropdown"
                            aria-expanded="false">
                            Games
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'products' %}?category=ps3_games">PS3 Games</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=xbox_360_games">Xbox 360
                                Games</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=ps3_games,xbox_360_games">All
                                Games</a>
                        </div>
                    </div>
                    <div class="dropdown text-purple">
                        <button class="btn bg-white text-purple" type="button" data-toggle="dropdown"
                            aria-expanded="false">
                            Consoles
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'products' %}?category=ps3_consoles">PS3 Consoles</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=xbox_360_consoles">Xbox 360
                                Consoles</a>
                            <a class="dropdown-item"
                                href="{% url 'products' %}?category=ps3_consoles,xbox_360_consoles">All Consoles</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn bg-white text-purple" type="button" data-toggle="dropdown"
                            aria-expanded="false">
                            Accessories
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'products' %}?category=ps3_accessories">PS3
                                Accessories</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=xbox_360_accessories">Xbox 360
                                Accessories</a>
                            <a class="dropdown-item"
                                href="{% url 'products' %}?category=ps3_accessories,xbox_360_accessories">All
                                Accessories</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-white text-center">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100 justify-content-center">
                        <input class="form-control border border-black rounded-0" type="text" name="q"
                            placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0 text-white"
                                type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-white text-center">
                <div class="header-right">
                    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link text-white"
                        href="{% url 'view_bag' %}">
                        <div class="text-center text-white">
                            <div><i class="fa-solid fa-bag-shopping"></i></div>
                            <p class="my-0">
                                {% if grand_total %}
                                €{{ grand_total|floatformat:2 }}
                                {% else %}
                                €0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0 ">
                        <li class="list-inline-item dropdown">
                            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="fas fa-user fa-lg text-white"></i></div>
                                    <p class="my-0 text-white">My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0 text-white" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                <a href="" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with messagae.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <div class="text-white py-3 bg-purple footer">
        <div class="container">
            <div class="row">
                <div class="col-12 md-6">
                    <h3>Follow Us!</h3>
                    <p>Be sure to follow us on <a href="www.facebook.com" target="_blank">Facebook</a> to keep up to
                        date on new deals on promotions!</p>
                </div>
            </div>
        </div>
    </div>

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show')
    </script>
    {% endblock %}

</body>

</html>